<h1>Baggages</h1>
<ul>
  <% @baggages.each do |baggage| %>
    <li>
      <%= link_to "num = %d, weight = %d" % [baggage.num, baggage.weight], baggage %>
    </li>
  <% end %>
</ul>
<%= link_to 'Task a', :action => 'a_task'%>
<%= link_to "New Baggage", new_baggage_path %>

