/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.list-group{
    width: 400px !important;
}

.list-group-item{
    margin-top:10px;
    border-radius: none;
    background: #5E35B1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.list-group-item:hover{
    transform: scaleX(1.1);
}

.mine-text-white {
    color: white;
}

.mine-text-white:hover {
    color: white;
    text-decoration: underline;
}